afirma-signfolder-proxy/src/main/webapp/wsdl/MobileService.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions name="MobileService" targetNamespace="urn:juntadeandalucia:cice:pfirma:mobile:v2.0" xmlns:pfirma="urn:juntadeandalucia:cice:pfirma:mobile:v2.0" xmlns:request="urn:juntadeandalucia:cice:pfirma:mobile:request:v2.0" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:type="urn:juntadeandalucia:cice:pfirma:mobile:type:v2.0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
<xsd:schema targetNamespace="urn:juntadeandalucia:cice:pfirma:mobile:request:v2.0" xmlns:pfirma="urn:juntadeandalucia:cice:pfirma:mobile:v2.0" xmlns:request="urn:juntadeandalucia:cice:pfirma:mobile:request:v2.0" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:type="urn:juntadeandalucia:cice:pfirma:mobile:type:v2.0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

			<xsd:import namespace="urn:juntadeandalucia:cice:pfirma:mobile:type:v2.0" schemaLocation="MobileServiceTypes.xsd"/>	

			<xsd:element name="queryRequestList">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="certificate" type="xsd:base64Binary"/>
						<xsd:element name="state" type="xsd:string"/>
						<xsd:element name="initPage" type="xsd:string"/>
						<xsd:element name="pageSize" type="xsd:string"/>
						<xsd:element name="signFormats" type="type:mobileStringList"/>
						<xsd:element name="filters" type="type:mobileRequestFilterList"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="queryRequestListResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="requestList" type="type:mobileRequestList"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="queryRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="certificate" type="xsd:base64Binary"/>
						<xsd:element name="requestId" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="queryRequestResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="request" type="type:mobileRequest"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
			<xsd:element name="documentPreview">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="certificate" type="xsd:base64Binary"/>
						<xsd:element name="documentId" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
			<xsd:element name="documentPreviewResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="document" type="type:mobileDocument"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
						
			<xsd:element name="getDocumentsToSign">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="certificate" type="xsd:base64Binary"/>
						<xsd:element name="requestTagId" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
			<xsd:element name="getDocumentsToSignResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="documentList" type="type:mobileDocumentList"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
			<xsd:element name="saveSign">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="certificate" type="xsd:base64Binary"/>
						<xsd:element name="requestTagId" type="xsd:string"/>
						<xsd:element name="docSignInfoList" type="type:mobileDocSignInfoList"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
			<xsd:element name="saveSignResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="result" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="rejectRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="certificate" type="xsd:base64Binary"/>
						<xsd:element name="requestId" type="xsd:string"/>
						<xsd:element name="textRejection" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="rejectRequestResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="responseId" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="queryApplicationsMobile">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="certificate" type="xsd:base64Binary"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="queryApplicationsMobileResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="applicationList" type="type:mobileApplicationList"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="approveRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="certificate" type="xsd:base64Binary"/>
						<xsd:element name="requestTagId" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="approveRequestResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="responseId" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="signPreview">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="certificate" type="xsd:base64Binary"/>
						<xsd:element name="documentId" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
			<xsd:element name="signPreviewResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="document" type="type:mobileDocument"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="reportPreview">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="certificate" type="xsd:base64Binary"/>
						<xsd:element name="documentId" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
			<xsd:element name="reportPreviewResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="document" type="type:mobileDocument"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

		</xsd:schema>
  </wsdl:types>
  <wsdl:message name="queryRequestListResponse">
    <wsdl:part element="request:queryRequestListResponse" name="queryRequestListResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="mobileException">
    <wsdl:part element="type:mobileError" name="mobileException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="approveRequest">
    <wsdl:part element="request:approveRequest" name="approveRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="rejectRequestResponse">
    <wsdl:part element="request:rejectRequestResponse" name="rejectRequestResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="queryApplicationsMobileResponse">
    <wsdl:part element="request:queryApplicationsMobileResponse" name="queryApplicationsMobileResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="saveSignResponse">
    <wsdl:part element="request:saveSignResponse" name="saveSignResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="queryRequest">
    <wsdl:part element="request:queryRequest" name="queryRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="documentPreview">
    <wsdl:part element="request:documentPreview" name="documentPreview">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="documentPreviewResponse">
    <wsdl:part element="request:documentPreviewResponse" name="documentPreviewResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="saveSign">
    <wsdl:part element="request:saveSign" name="saveSign">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="rejectRequest">
    <wsdl:part element="request:rejectRequest" name="rejectRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="queryRequestList">
    <wsdl:part element="request:queryRequestList" name="queryRequestList">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="queryRequestResponse">
    <wsdl:part element="request:queryRequestResponse" name="queryRequestResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDocumentsToSign">
    <wsdl:part element="request:getDocumentsToSign" name="getDocumentsToSign">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="reportPreviewResponse">
    <wsdl:part element="request:reportPreviewResponse" name="reportPreviewResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="reportPreview">
    <wsdl:part element="request:reportPreview" name="reportPreview">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="approveRequestResponse">
    <wsdl:part element="request:approveRequestResponse" name="approveRequestResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDocumentsToSignResponse">
    <wsdl:part element="request:getDocumentsToSignResponse" name="getDocumentsToSignResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="signPreviewResponse">
    <wsdl:part element="request:signPreviewResponse" name="signPreviewResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="signPreview">
    <wsdl:part element="request:signPreview" name="signPreview">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="queryApplicationsMobile">
    <wsdl:part element="request:queryApplicationsMobile" name="queryApplicationsMobile">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="MobileService">
    <wsdl:operation name="queryRequestList">
      <wsdl:input message="pfirma:queryRequestList" name="queryRequestList">
    </wsdl:input>
      <wsdl:output message="pfirma:queryRequestListResponse" name="queryRequestListResponse">
    </wsdl:output>
      <wsdl:fault message="pfirma:mobileException" name="mobileException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="queryRequest">
      <wsdl:input message="pfirma:queryRequest" name="queryRequest">
    </wsdl:input>
      <wsdl:output message="pfirma:queryRequestResponse" name="queryRequestResponse">
    </wsdl:output>
      <wsdl:fault message="pfirma:mobileException" name="mobileException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="documentPreview">
      <wsdl:input message="pfirma:documentPreview" name="documentPreview">
    </wsdl:input>
      <wsdl:output message="pfirma:documentPreviewResponse" name="documentPreviewResponse">
    </wsdl:output>
      <wsdl:fault message="pfirma:mobileException" name="mobileException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getDocumentsToSign">
      <wsdl:input message="pfirma:getDocumentsToSign" name="getDocumentsToSign">
    </wsdl:input>
      <wsdl:output message="pfirma:getDocumentsToSignResponse" name="getDocumentsToSignResponse">
    </wsdl:output>
      <wsdl:fault message="pfirma:mobileException" name="mobileException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="saveSign">
      <wsdl:input message="pfirma:saveSign" name="saveSign">
    </wsdl:input>
      <wsdl:output message="pfirma:saveSignResponse" name="saveSignResponse">
    </wsdl:output>
      <wsdl:fault message="pfirma:mobileException" name="mobileException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="rejectRequest">
      <wsdl:input message="pfirma:rejectRequest" name="rejectRequest">
    </wsdl:input>
      <wsdl:output message="pfirma:rejectRequestResponse" name="rejectRequestResponse">
    </wsdl:output>
      <wsdl:fault message="pfirma:mobileException" name="mobileException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="queryApplicationsMobile">
      <wsdl:input message="pfirma:queryApplicationsMobile" name="queryApplicationsMobile">
    </wsdl:input>
      <wsdl:output message="pfirma:queryApplicationsMobileResponse" name="queryApplicationsMobileResponse">
    </wsdl:output>
      <wsdl:fault message="pfirma:mobileException" name="mobileException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="approveRequest">
      <wsdl:input message="pfirma:approveRequest" name="approveRequest">
    </wsdl:input>
      <wsdl:output message="pfirma:approveRequestResponse" name="approveRequestResponse">
    </wsdl:output>
      <wsdl:fault message="pfirma:mobileException" name="mobileException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="signPreview">
      <wsdl:input message="pfirma:signPreview" name="signPreview">
    </wsdl:input>
      <wsdl:output message="pfirma:signPreviewResponse" name="signPreviewResponse">
    </wsdl:output>
      <wsdl:fault message="pfirma:mobileException" name="mobileException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="reportPreview">
      <wsdl:input message="pfirma:reportPreview" name="reportPreview">
    </wsdl:input>
      <wsdl:output message="pfirma:reportPreviewResponse" name="reportPreviewResponse">
    </wsdl:output>
      <wsdl:fault message="pfirma:mobileException" name="mobileException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MobileServiceSoapBinding" type="pfirma:MobileService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="queryRequestList">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="queryRequestList">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="queryRequestListResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="mobileException">
        <soap:fault name="mobileException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="queryRequest">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="queryRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="queryRequestResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="mobileException">
        <soap:fault name="mobileException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="documentPreview">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="documentPreview">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="documentPreviewResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="mobileException">
        <soap:fault name="mobileException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getDocumentsToSign">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getDocumentsToSign">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getDocumentsToSignResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="mobileException">
        <soap:fault name="mobileException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="saveSign">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="saveSign">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="saveSignResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="mobileException">
        <soap:fault name="mobileException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="rejectRequest">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="rejectRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="rejectRequestResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="mobileException">
        <soap:fault name="mobileException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="queryApplicationsMobile">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="queryApplicationsMobile">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="queryApplicationsMobileResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="mobileException">
        <soap:fault name="mobileException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="approveRequest">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="approveRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="approveRequestResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="mobileException">
        <soap:fault name="mobileException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="signPreview">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="signPreview">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="signPreviewResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="mobileException">
        <soap:fault name="mobileException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="reportPreview">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="reportPreview">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="reportPreviewResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="mobileException">
        <soap:fault name="mobileException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MobileService">
    <wsdl:port binding="pfirma:MobileServiceSoapBinding" name="MobileServicePort">
       <soap:address location="https://pf.seap.minhap.es/pf/servicesv2/MobileService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>